---
import GlobalLayout from "@layouts/GlobalLayout.astro";
import PageTitle from "@components/PageTitle.astro";
import TextBlock from "@components/TextBlock.astro";
import PreviewNotice from "@components/PreviewNotice.astro";

const url = "https://abruno-f8-static.vercel.app";
---

<GlobalLayout
  title="Marketing Templates • Meta F8 Conference"
  back={true}
  backLabel="Back to Case Study"
  backRoute="./"
>
  <div class="space-y-14">
    <PageTitle>Meta F8 Conference</PageTitle>
    <PreviewNotice />
    <TextBlock>
      <h2>Marketing Site</h2>
      <ul>
        <li>
          <a href={`${url}/index.html`} target="_blank">Homepage</a>
        </li>
        <li>
          <a href={`${url}/about.html`} target="_blank">About</a>
        </li>
        <li>
          <a href={`${url}/schedule.html`} target="_blank">Schedule</a>
        </li>
        <li>
          <a href={`${url}/session.html`} target="_blank">Individual Session</a>
        </li>
        <li>
          <a href={`${url}/getting-here.html`} target="_blank">Getting Here</a>
        </li>
        <li>
          <a href={`${url}/meetups.html`} target="_blank">Meetups</a>
        </li>
        <li>
          <a href={`${url}/watch-live.html`} target="_blank">Watch</a>
        </li>
        <li>
          <a href={`${url}/regs-register.html`} target="_blank">Register</a>
        </li>
        <li>
          <a href={`${url}/completed.html`} target="_blank"
            >Register - Complete</a
          >
        </li>
        <li>
          <a href={`${url}/account.html`} target="_blank">Manage Account</a>
        </li>
        <li>
          <a href={`${url}/login.html`} target="_blank">Login</a>
        </li>
        <li>
          <a href={`${url}/regs-apply-to-attend.html`} target="_blank"
            >Apply to Attend</a
          >
        </li>
        <li>
          <a href={`${url}/code-of-conduct.html`} target="_blank"
            >Code of Conduct</a
          >
        </li>
        <li>
          <a href={`${url}/policy-westin-san-jose.html`} target="_blank"
            >Hotel policies</a
          >
        </li>
        <li>
          <a href={`${url}/faq.html`} target="_blank">FAQ</a>
        </li>
        <li>
          <a href={`${url}/404.html`} target="_blank">404</a>
        </li>
      </ul>
    </TextBlock>
  </div>
</GlobalLayout>
