---
import "../styles/global.css";

interface Props {
  back?: boolean;
  title: string;
}

const { back = false, title } = Astro.props;
const OGDescription =
  "With 15+ years of experience in front-end development and product leadership, I excel in crafting scalable web applications and spearheading engineering-wide strategies.";
---

<html lang="en" class="text-[15px]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-9RG20E958Q"></script>
    <script type="text/partytown" is:inline>
      // @ts-ignore
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        // @ts-ignore
        dataLayer.push(arguments);
      }
      // @ts-ignore
      gtag("js", new Date());
      // @ts-ignore
      gtag("config", "G-9RG20E958Q");
    </script>

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✌️</text></svg>"
    />

    <meta name="title" content={title} />
    <meta name="description" content={OGDescription} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://abruno.net" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={OGDescription} />
    <meta property="og:image" content="https://abruno.net/og-share-3.png" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={OGDescription} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://abruno.net/og-share-3.png" />
  </head>
  <body
    class="border-t-4 border-blue-600 px-5 text-neutral-800 md:px-10 dark:text-neutral-100"
  >
    <div
      class="mx-auto max-w-6xl grid-cols-12 gap-5 pt-12 text-lg md:pt-24 lg:grid"
    >
      {
        back && (
          <nav class="col-span-2 col-start-2 max-lg:mx-auto max-lg:pb-12">
            <a
              class="dimmed-text sticky top-10 whitespace-nowrap text-base leading-none transition-colors hover:text-blue-600"
              href="/"
            >
              ← Back to home
            </a>
          </nav>
        )
      }
      <div class:list={["col-span-6", { "col-start-4": back === false }]}>
        <main>
          <slot />
        </main>
        <footer class="pb-14 pt-36">
          <small class="dimmed-text text-base">
            &copy; {new Date().getFullYear()}
          </small>
        </footer>
      </div>
    </div>
  </body>
</html>
